.front .section--main .irs-student-callout {
  background-color: #227fb0;
  color: #fff;
  padding: 30px 50px 50px 50px;
  margin-bottom: 40px;
  text-align: center;

  h2 {
    color: #fff !important;
  }

  a {
    color: #fff !important;
    text-decoration: underline;
  }
}
