// Unstyled List
//
// Removes spacing and list-style of element and children `li` elements.
//
// Styleguide Mixins.UnstyledList
@mixin unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
