// Game Basic Pages (with Adobe Flash)
//
// Node 8359  = The IRS Benefits Match-Up Game
// Node 8360  = Got a Grip on College
// Node 8361  = Follow The Money
//
.page-node-8359 {
  article.node {
    .node__content {
      width: 511px;
      margin: 0 auto;
    }
  }
}

.page-node-8360 {
  article.node {
    .node__content {
      width: 1005px;
      margin: 0 auto;
    }
  }
}

.page-node-8361 {
  article.node {
    .node__content {
      width: 960px;
      margin: 0 auto;
    }
  }
}
